*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#061732;
  color:#ccd6f6;
}

a{
  text-decoration:none;
}

.back-btn{
  display:inline-block;
  margin:20px;
  color:#ffffff;
  font-size:14px;
}

.project-container{
  max-width:900px;
  margin:auto;
  padding:40px 20px;
}

h1{
  font-size:36px;
  color:#ffffff;
  text-align:center;
  margin-bottom:30px;
}

.card{
  background:#112240;
  padding:25px;
  border-radius:12px;
  margin-bottom:25px;
  box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.card h2{
  color:#1fd7e8;
  margin-bottom:15px;
}

.card p,li{
  line-height:1.7;
  font-size:15px;
}

ul,ol{
  padding-left:20px;
}

.project-img{
  width:100%;
  border-radius:10px;
  margin-top:10px;
}

.img-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:15px;
}

.img-grid img{
  width:100%;
  border-radius:10px;
}
.img-grid img:hover{
  transform: scale(1.1);
}
.center{
  text-align:center;
}

.github-btn{
  padding:12px 30px;
  border:1px solid #64ffda;
  color:#64ffda;
  border-radius:6px;
  transition:0.3s;
}

.github-btn:hover{
  background:#64ffda;
  color:#0a192f;
}
figure{
  text-align:center;
}

figcaption{
  margin-top:8px;
  font-size:13px;
  color:#8892b0;
}

